.nav-container {
  width: 100%;
  height: auto;
  background-color: var(--white-color);
}

.nav-sub-container {
  margin: auto;
  width: 95%;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

.nav-title {
  /* background: red;  */
  display: inline-block;
  padding: 30px 40px 20px 40px;
  font-weight: var(--font-poppins-400);
  width: 10vh;
  cursor: pointer;
}

.position-right {
  float: right;
}

.category {
  padding: 5px 20px 30px 20px;
  width: auto;
}

#logo {
  font-size: var(--font-medium);
  display: inline-block;
  padding: 20px;
}

.shadow {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
