.inp {
  padding: 15px;
  background-color: var(--light-gray-color);
  border-radius: 30px;
  border: none;
}

.error-border {
  border: solid 2px var(--error-red-color);
}

.error-message {
  color: var(--error-red-color);
  font-size: var(--font-xsmall);
  margin: 8px 15px;
  position: absolute;
}

.fix-size {
  width: 320px;
  max-width: 350px;
}

.no-size {
  width: 100%;
  max-width: -webkit-fill-available;
}
