.inp {
  padding: 15px;
  border-radius: 5px;
}

.error-border {
  border: solid 2px var(--error-red-color);
}

.error-message {
  color: var(--error-red-color);
  font-size: var(--font-xsmall);
}

.fix-size {
  width: 550px;
  max-width: 550px;
}

.no-size {
  width: 100%;
  max-width: -webkit-fill-available;
}
