.button {
  border-radius: 30px;
  border: none;
  padding: 11px;
  color: var(--white-color);
  font-weight: var(--font-poppins-600);
  cursor: pointer;
}

.button:hover {
  background-color: var(--white-color);
}
